$header-height: 35px;

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-width: 705px;
  padding: 15px;

  & > *:not(:first-child) {
    height: 100%;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .labelList {
    width: 150px;
  }
  .memoList {
    width: 240px;
  }
  .mainTab {
    position: relative;
    flex: 1;


    .header {
      height: $header-height;
      margin-bottom: 15px;

      .item {
        display: flex;
        height: $header-height;
        border: solid 2px black;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .adjustTab {
        float: left;
        width: 85px;
      }
      .deleteMemo, .changeLabel {
        float: right;
        width: 60px;
      }
      .changeLabel {
        margin-right: 20px;
      }
    }

    .memoEditor {
      position: absolute;
      top: 50px;
      bottom: 0;
      left: 0;
      right: 0;
      border: solid 2px black;
      overflow: auto;
    }
  }
}