* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-width: 700px;
  padding: 15px;

  & > * {
    height: 100%;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .labelList {
    width: 150px;
  }
  .memoList {
    width: 200px;
  }
  .memoEditor {
    flex: 1;
  }
}