.item {
  display: flex;
  height: 35px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.createLabel {
  border: solid 2px black;
  margin-bottom: 15px;
}

.labels {
  border: solid 2px black;
}