$header-height: 35px;
$header-margin: 15px;
$label-info-height: 35px;

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: $header-height;
  margin-bottom: $header-margin;

  .createMemo, .startSelection {
    height: $header-height;
    border: solid 2px black;
    cursor: pointer;
  }
  .createMemo {
    float: left;
    width: 105px;
  }
  .startSelection {
    float: right;
    width: 115px;
  }
}

.list {
  position: relative;
  height: calc(100% - #{$header-height} - #{$header-margin});
  border: solid 2px black;
  overflow: auto;

  .labelInfo {
    display: flex;
    height: $label-info-height;
    align-items: center;
    border-bottom: solid 2px black;

    .name, .functions {
      align-items: center;
    }
    .name {
      width: 118px;
      margin-right: 10px;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .functions {
      display: flex;

      .editName, .delete {
        height: 21px;
        margin: 5px 5px 5px 0;
        border: solid 1px black;
        border-radius: 10px;
        padding: 3px 5px;
        font-size: 10px;
        text-align: center;
        cursor: pointer;
      }
      .editName {
        width: 57px;
      }
      .delete {
        width: 41px;
      }
    }
  }
  .memoPreview {
    cursor: pointer;
  }
  .noMemo {
    display: flex;
    position: absolute;
    top: $label-info-height;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
  }
}